registry=https://registry.npmjs.org/
@raflyfahrezi:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
_auth=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
email=raflyfahr15@gmail.com
always-auth=true
strict-ssl=false