registry=https://registry.npmjs.org/
@raflyfahrezi:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
_auth=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
email=raflyfahr15@gmail.com
always-auth=true